---
---

@import "{{ site.theme }}";

body {
  background-color: black;
  color: #f6e06a;
}

h1 {
  font-size: 24px;
  padding: 20px 30px;
  color: white;
}

h3 {
  padding: 20px 0px;
}

.picture {
  text-align: center;
}

.picture img {
  width: 80%;
}

.float-parent {
  overflow: hidden;
  margin: 0 0 20px 0;
}

.float-child {
  float: left;
  width: 33%;
}

.vhline {
  border-right: solid 1px white;
}

@media screen and (max-width: 600px) {
  .float-child {
    float: none;
    width: auto;
  }
  .picture {
    text-align: center;
    margin: 0 0 20px 0;
  }
  .vhline {
    border-bottom: solid 1px white;
    border-right: none;
    padding-bottom: 20px;
  }
}
